<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleabout.css">
    <title>About</title>
</head>
<body>
    <%-include('./partials/nav.ejs') %>
    <div class="container">
        <div class="name">
            <p>Alabi Abdullahi Ayodeji--A.A.A</p>
        </div>
        <div class="about">
            <h3>LEARN MORE<br>ABOUT ME</h3>
        </div>
        <div class="img">
            <img src="profile-2.jpg" alt="profile">
        </div><br><br>
        <div class="words">
            <h4>Who is AbdulTech?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vel dolorem quibusdam pariatur magnam, minus reiciendis dolore unde, fugiat consequuntur quidem. Animi, molestiae a hic provident placeat alias perferendis dolor.</p>
            <br>
            <p>Phone:<span>+234907653735</span></p>
            <p>email:<span>Abdultech@gmail.com</span></p>
            <br>
            <br>
            <p style="color: grey; font-size: small;">SKILLS</p>
            <div class="skills">
                <p>HTML</p>
                <div class="progress"><div class="bar"></div></div>
                <p>CSS</p>
                <div class="progress"><div class="bar"></div></div>
                <p>BOOSTRAP</p>
                <div class="progress"><div class="bar"></div></div>
                <p>JAVASCRIPT</p>
                <div class="progress"><div class="bar"></div></div>
                <p>JQUERY</p>
                <div class="progress"><div class="bar"></div></div>
                <p>NODEJS</p>
                <div class="progress"><div class="bar"></div></div>
                <p>MONGODB</p>
                <div class="progress"><div class="bar"></div></div>
            </div>
        </div>
    </div>
</body>
</html>