<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecontact.css">
    <title>Contact</title>
</head>
<body>
    <%-include('./partials/nav.ejs') %>
    <h4>CONTACT <div class="hr2"></div></h4>
<h1> REACH OUT TO ME</h1>

<div class="navbarItems">
    <div class="cancel" style="display: none; cursor: pointer; width: 80px; height: 50px;">X</div>
    <div class="menu" >
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
    </div>

<DIV class="box">
    <div class="Email">
<div id="cont">
    <img class="img1" src="icon-email.svg">
    <h2 style="margin-top:2px;margin-left: 70px;">Email</h2>
</div>
<p style="margin-top:2px; font-size: 20px;"><a href="#">abdullahialabi234@gmail.com</a></p>
    </div>
    <div class="callme">
        <div class="Email">
            <div id="cont">
                <img class="img1" src="icon-phone.svg">
            </div>
            <h2>Call ME</h2>
            <p>+234 7085478546</p>
                </div>
    </div>
    <div class="social">
        <div class="Email">
            <div id="cont">
                <img class="img1" style="margin-top:px; margin-left:10px; height: 19;" src="share-social.svg">
            </div>
           <h2>Social Profiles</h2>
  <div class="soc">
    <a href="#"><img class="soc-img" src="logo-github.svg"></a>
    <a href="#"><img class="soc-img" src="logo-facebook.svg"></a>
    <a href="#"><img class="soc-img" src="logo-instagram.svg"></a>
    <a href="/services"><img class="soc-img" src="logo-twitter.svg"></a>
    <a href="#"><img class="soc-img" src="logo-linkedin.svg"></a>
  </div>
        </div>
    </div>
</DIV>
</body>
</html>