<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleresumee.css">
    <title>Resume</title>
</head>
<body>
    <%-include('./partials/nav.ejs') %>
    <h4>RESUME<div class="hr2"></div></h4>
    <h1>CHECK OUT MY <BR>RESUME AND<br>WORK EXPERIENCE</h1>
        <h2>Summary</h2>
<div class="together">z
    <div class="ruler">
        <div class="circle"></div>
        <div  class="words">
          <h3>ALABI ABDULLAHI AYODEJI</h3>
          <p style="color: white;">Innovative and deadline-driven web developer<br>
        with 3 years of experience developing web<br>
        applications from initial concept to end-result.<br>
        Adapts quickly and posseses good<br>
        communication skill needed to enhance<br>
        personal interaction among people and <br>
        organizations.
        </p>
        <p>+234 7085478546</p>
        <p>abdullahialabi234@gmail.com</p>
        </div>
        </div>
    </div>

    <!--  -->

    <h2>Freelance<br>
    Experience/Contract Jobs
    </h2>
    <div class="together">
        <div style="height:230;" class="ruler">
            <div class="circle"></div>
            <div class="words">
                <h3>SOFTWARE DEVELOPER</h3>
                <div class="box">JUNE 2022 - August 2022</div>
                <p style="font-style:italic; margin-top: 40px;">CycleBreeze</p>
                <p>Worked with 3rd party APIs for payment<br>
                gateway implementation
                </p>
                <p>Appplied best practices to ensure product<br>
                    met optimal scalability expectation
                </p>
                 <p>Developed the backend APIs for the<br>
                fintech mobile application(Still in production)
                 </p>
            </div>
        </div>
    </div>
    <br>

    <div style="margin-top: -15px;" class="together">
        <div class="ruler">
            <div class="circle"></div>
            <div class="words">
                <h3>WEB DEVELOPER</h3>
                <div class="box">JUNE 2022 - August 2022</div>
                <p style="font-style:italic; margin-top: 40px;">Huxpay</p>
                <li>Worked with 3rd party APIs for payment<br>
                    gateway implementation
                    </li>
                    <li>Appplied best practices to ensure product<br>
                        met optimal scalability expectation
                     </li>
                     <li>Developed the backend APIs for the<br>
                    fintech mobile application(Still in production)
                    </li>
            </div>
        </div>
    </div>
    
    <div  class="together">
        <div class="ruler">
            <div class="circle"></div>
            <div class="words">
                <h3>WORDPRESS DEVELOPER</h3>
                <div class="box">JUNE 2022 - August 2022</div>
                <p style="font-style:italic; margin-top: 40px;">Lio-Tech info </p>
                <li>Worked with 3rd party APIs for payment<br>
                    gateway implementation
                    </li>
                    <li>Appplied best practices to ensure product<br>
                        met optimal scalability expectation
                     </li>
                     <li>Developed the backend APIs for the<br>
                    fintech mobile application(Still in production)
                    </li>
            </div>
        </div>
    </div>

    <!-- PROFESSIONAL EXPERIENCE -->
<h2>Professonal  Experience</h2>
<div class="together">
    <div class="ruler">
        <div class="circle"></div>
        <div class="words">
            <h3>SOFTWARE DEVELOPER</h3>
            <div class="box">August 2022 - Present</div>
            <p style="font-style:italic; margin-top: 40px;">FlyTravels Essentials </p>
            <li>Worked with 3rd party APIs for payment<br>
                gateway implementation
                </li>
                <li>Appplied best practices to ensure product<br>
                    met optimal scalability expectation
                 </li>
                 <li>Developed the backend APIs for the<br>
                fintech mobile application(Still in production)
                </li>
        </div>
    </div>
</div>

<div  class="together">
    <div class="ruler">
        <div class="circle"></div>
        <div class="words">
            <h3>WORDPRESS DEVELOPER</h3>
            <div class="box">JUNE 2022 - August 2022</div>
            <p style="font-style:italic; margin-top: 40px;">Lio-Tech info </p>
            <li>Worked with 3rd party APIs for payment<br>
                gateway implementation
                </li>
                <li>Appplied best practices to ensure product<br>
                    met optimal scalability expectation
                 </li>
                 <li>Developed the backend APIs for the<br>
                fintech mobile application(Still in production)
                </li>
        </div>
    </div>
</div>

<div class="together">
    <div style="height:230;" class="ruler">
        <div class="circle"></div>
        <div class="words">
            <h3>SOFTWARE DEVELOPER</h3>
            <div class="box">JUNE 2022 - August 2022</div>
            <p style="font-style:italic; margin-top: 40px;">CycleBreeze</p>
            <li>Worked with 3rd party APIs for payment<br>
            gateway implementation
            </li>
            <li>Appplied best practices to ensure product<br>
                met optimal scalability expectation
             </li>
             <li>Developed the backend APIs for the<br>
            fintech mobile application(Still in production)
            </li>
        </div>
    </div>
</div>


</body>
</html>