<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleservice.css">
    <title>Services</title>
</head>
<body>
    <%-include('./partials/nav.ejs') %>
    <h4>SERVICES<div class="hr2"></div></h4>
    <h1>MY SERVICES</h1>

    <div class="box">
<div class="webdev-box">
<img class="webdev" src="Web-development.jpg">
<h2>Web Development</h2>
<p>Use of latest technologies to build interactive<br>
and mobile-responsive websites and web<br>
applications
</p>

</div>
<div class="webmaintain-box">
    <img class="webdev" src="web-maintenance-icon-26.jpg">
    <h2>Wesite Maintenance</h2>
    <p>Use of latest technologies to build interactive<br>
    and mobile-responsive websites and web<br>
    applications
    </p>
</div>
<div class="webseo-box">
    <img class="webdev" src="seo-icon-png-16.jpg">
<h2>Search Engine <br>Optimization</h2>
<p>Use of latest technologies to build interactive<br>
and mobile-responsive websites and web<br>
applications
</p>
</div>
    </div>

</body>
</html>